<nav class="menu">
	<a href="/">
	<div class="logo">
		<%=app_name%>
	</div>
	</a>

	<div class="S_holder">
		<input type="Text" class="searchPlace" placeholder="Buscar...">
		<div class="results"></div>
	</div>
</nav>