<nav class="menu">
	
	<div class="logo">
		<a href="/"><%=app_name%></a>
	</div>
	

	<div class="S_holder">
		<input type="Text" class="searchPlace" placeholder="Buscar...">
		<div class="results"></div>
	</div>
</nav>