<div class="sidebar">
	<header>
		<div class="h2">Pv</div>
		<div class="h3">Are You on the list?</div>
	</header><br><br>
	<div class="content">
		<b><%=app_name%></b> is an exclusive <i>social network</i> where you'll never get weird notifications about things you don't mind, like those games that you shall never play, and those partys you really hate... but... how to do that? well, we think people should decide who is in them new favourite place, so Pv, it's that, an over invitation social network, so... Are you on the list?
	</div><br><br>

	<div class="btn btn_solid" style="margin-left:calc(50% - 100px);">Ask for an invitation</div>
</div>