<script type="text/javascript">
	var ready;
	ready = function() {

	  launchBasic();
		doRes();
	};

	$(document).ready(ready);
	$(document).on('page:load', ready);

	var imgGrind=250;
	function launchBasic () {
		var a=100;
		$('img').attr("draggable","false")
		$('.basic').each(function(){
			doGrow(a,$(this));
			a+=100;
		});
		setTimeout(function(){
			$("#imOnList").css('opacity','1');
		},a+100);
	}
	function doGrow (time, elem) {
		setTimeout(function(){
			$(elem).css('width',imgGrind+'px');
			$(elem).css('height',imgGrind+'px');
		},time);
	}
	$(window).scroll(function (event) {
	    var scroll = $(window).scrollTop();
	    if(scroll>10){
	    	$("#Btn_holder").css("position","fixed");
	    }else{
	    	$("#Btn_holder").css("position","relative");
	    }
	});
		
</script>
<style type="text/css">
	#imOnList{
		opacity: 0;
	}
</style>
<%= render "partials/sidebar"%>
	<div id="Btn_holder"><div style="margin-left:calc(50% - 100px);" align="center" id="imOnList" class="btn btn_solid">I am on the list.</div><br><br></div>
<div class="contentI">

	<img class="basic" src="https://farm4.staticflickr.com/3930/15196319387_4649c1ed9c_q.jpg" alt="https://www.flickr.com/photos/darkpaul">
	<img class="basic" src="https://farm6.staticflickr.com/5557/15013691208_a2a736ba37_q.jpg" alt="https://www.flickr.com/photos/darkpaul">
	<img class="basic" src="https://farm8.staticflickr.com/7286/9136896334_5dbe4d22db_q.jpg" alt="https://www.flickr.com/photos/darkpaul">
	<img src="https://farm4.staticflickr.com/3884/15367856356_9f04678caf_q.jpg" alt="Unknown" class="basic">
	<img src="https://farm3.staticflickr.com/2949/15390130192_a56eb9c1b6_q.jpg" alt="https://www.flickr.com/photos/stevensiegel/" class="basic">
	<span class="spacer"><br></span>
	<img src="http://i.picresize.com/images/2014/09/30/dhTkr.jpg" alt="https://www.flickr.com/photos/albireo2006" class="basic">
	<img src="https://farm4.staticflickr.com/3865/15391897665_5b6d5b1815_q.jpg" alt="https://www.flickr.com/photos/michael_locke/" class="basic">
	<img src="https://farm6.staticflickr.com/5573/15263047045_5c6b731fab_q.jpg" alt="https://www.flickr.com/photos/michael_locke/" class="basic">
	<img src="https://farm6.staticflickr.com/5483/14125320555_55c77d6af8_q.jpg" alt="https://www.flickr.com/photos/michaelerhardsson/" class="basic">
	<img src="https://farm6.staticflickr.com/5567/15145600832_2db5394258_q.jpg" alt="" class="basic">
	<span class="spacer"><br></span>
	<img src="https://farm7.staticflickr.com/6211/6207626565_5a1396068c_q.jpg" alt="https://www.flickr.com/photos/dr-ip/" class="basic">
	<img src="https://farm4.staticflickr.com/3154/3031668434_2f39a56d04_q.jpg" alt="https://www.flickr.com/photos/hesenrre/" class="basic">
	<img src="https://farm4.staticflickr.com/3556/3545291508_268b60fe45_q.jpg" alt="https://www.flickr.com/photos/click_on/" class="basic">
	<img src="https://farm4.staticflickr.com/3324/3544396399_f1565eeaa8_q.jpg" alt="https://www.flickr.com/photos/click_on/" class="basic">
	<img src="http://i.picresize.com/images/2014/09/30/wOrj.jpg" alt="" class="basic">
	<br><br>
</div>
<%= render "partials/profileForm"%>
