.sidebar{
	position: fixed;
	top: 100px;
	width: 20%;
	left: 10px;
	border-radius: 5px;
	border: 2px solid rgb(200,200,200);
	height: 400px;
	text-align: center;
	min-width: 320px;
	background-color: #fff;
	.content{
		text-align: justify;
		width: 90%;
		margin-left: 5%;
	}
	.h2, .h3{
		color: gray;
		font-weight: 700;
		font-family: 'Roboto', sans-serif;
		line-height: 1.0;
	}
	.h2{
		font-size: 50px;
		color:#222;
	}.h3{
		font-size: 10px;
	}
}