// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'sidebar';
@import 'buttons';
@import 'menu';

body{
	margin-top: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

#Btn_holder{
	background-color: rgba(255,255,255,.6);
	width: 75%;
	position: absolute;
	margin-left: 25%;
	margin-top: 83px;
	top:0px;
	padding-top: 10px;
}
div.contentI{
	width: 75%;
	margin-left: 25%;
	transition: all .5s;
	text-align: center;
	min-width: 1000px;
	img{
		padding: 0px;
		transition: all .5s;
		width: 0px;
		height: 0px;
		&:hover{
			box-shadow: 0px 0px 10px #333;
		}
		
	}
}
